body{
    background-color: #33D6FF;
}

#search{
    position: fixed;
    right: 17%;
    margin-top: 20px;
}

#icon_like{
    position: fixed;
    right: 10%;
    top: 30px;
    color: white;
}

#taday{
    position: relative;
    top: 120px;
    left: 260px;
    width: 200px;
    height: 200px; 
}
#weaImg{
    position: absolute;
}
#weaText{
    position: absolute;
    left: 280px;
    top: 30px;
    width: 450px;
}
#weaMas{
    list-style: none;
    line-height: 40px;
    width: 100%;
}
#weaMas li+li{
    font-size: 25px;
    padding: 7px;
}

.city{
    padding-left: 7px;
    font-size: 35px;
    padding-bottom: 20px;
}

#future{
    position: relative;
    top: 300px;
    display: flex;
    justify-content: space-around;
}

.ant-card-cover{
    width: 75%;
    height: 60%;
}

.ant-card-cover>img{
    padding: 20px;
}

.ant-card-meta-description,
.ant-card-meta-title{
    text-align: center;
}